body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: #ff8993;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid;
}

b {
  font-weight: 500;
}

.underline {
  border-bottom: 2px solid;
}

html {
  font-family: roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #212121;
  background-color: #e3e3e3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.hero {
  font-family: karla, sans-serif;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(45deg, #fec180, #ff8993);
  user-select: none;
  pointer-events: none;
  cursor: default;
}

.heading--main {
  font-size: calc(8rem + 2vw);
  font-weight: 700;
  text-shadow: 0.5rem 0.5rem 0 #fefefe;
}

.content {
  background-color: #fefefe;
  max-width: 70rem;
  padding: 1rem;
  margin: 1rem auto;
}

.section {
  margin-bottom: 1.5rem;
}

.heading--section {
  font-family: karla, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: lowercase;
  position: relative;
  z-index: 2;
  margin-bottom: 1rem;
}

.heading--section::before {
  content: '';
  display: block;
  height: 0.5rem;
  width: 2rem;
  background-color: #fec180;
  position: absolute;
  top: 2rem;
  left: -2.5rem;
  z-index: -1;
}

p {
  font-size: 1.125rem;
  line-height: 1.75;
  margin: 0 0 1rem 1rem;
}

.trip,
.code {
  font-family: roboto mono, monospace;
  color: #545454;
}

video {
  position: relative;
  width: 80rem;
  height: auto;
  margin-left: calc(50% - 40rem);
  margin-right: calc(50% - 40rem);
}

@media (max-width: 80rem) {
  video {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.feature--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%;
  margin: 1rem;
}

.feature--card .material-icons {
  font-size: 3rem;
  color: #9e9e9e;
}

.feature--card-title {
  font-weight: 500;
}

.feature--grid {
  display: flex;
  flex-direction: row;
}

.feature--grid > div {
  width: 50%;
  margin: 0 0.5rem;
}

.feature--heading {
  font-size: 1.25rem;
  font-weight: 500;
  display: block;
  margin-bottom: 0.5rem;
}

.button {
  font: inherit;
  color: #fefefe;
  background-image: linear-gradient(45deg, #fec180, #ff8993);
  padding: 0.25rem 1rem;
  border: 0;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
