:root {
  --font-default: arimo, sans-serif;
  --font-complimentary: karla, sans-serif;
  --font-code: inconsolata, monospace, monospace;
  --colour-primary: #9c27b0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: var(--colour-primary);
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid;
}

b {
  font-weight: 700;
}

.underline {
  border-bottom: 2px solid;
}

html {
  font-family: var(--font-default);
  font-size: 1rem;
  line-height: 1.5;
  color: #212121;
  background-color: #e3e3e3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.navigation {
  position: fixed;
  display: flex;
  height: 3rem;
  padding: 0 1.5rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: transparent;
  transition: all .25s;
}

.navigation.navigation--scrolled {
  background-color: var(--colour-primary);
}

.navigation--link {
  font-family: var(--font-complimentary);
  color: #fafafa;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.navigation--link.active {
  border-bottom: 1px solid;
}

.hero {
  font-family: var(--font-complimentary);
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(45deg, pink, cornflowerblue);
  background-size: 400% 400%;
  user-select: none;
  pointer-events: none;
  cursor: default;
  z-index: 1;
  position: relative;
  animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 84% 0%;
  }

  50% {
    background-position: 17% 100%;
  }

  100% {
    background-position: 84% 0%;
  }
}

.heading--main {
  font-size: calc(8rem + 2vw);
  font-weight: 700;
  text-shadow: 0.5rem 0.5rem 0 #fefefe;
}

.content {
  background-color: #fefefe;
  max-width: 70rem;
  padding: 1rem;
  margin: -2rem auto 1rem;
  position: relative;
  z-index: 2;
}

.section {
  margin-bottom: 1.5rem;
}

.heading--section {
  font-family: var(--font-complimentary);
  font-weight: 700;
  font-size: 3rem;
  text-transform: lowercase;
  position: relative;
  z-index: 2;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.heading--section::before {
  content: '';
  display: block;
  height: 0.5rem;
  width: 2rem;
  background-color: var(--colour-primary);
  position: absolute;
  top: 2rem;
  left: -3.5rem;
  z-index: -1;
}

p {
  font-size: 1.125rem;
  line-height: 1.75;
  margin: 0 0 1rem 1rem;
}

.change-list {
  font-size: 1.125rem;
  line-height: 1.5;
}

.trip,
.code {
  font-family: var(--font-code);
  color: #545454;
}

.button--download {
  font-size: 125%;
  font-family: var(--font-code);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  background-color: #ff8993;
  padding: .5rem 1rem;
  border: 0;
  border-radius: 3px;
  margin: 0 .5rem;
  cursor: pointer;
}

video {
  position: relative;
  width: 80rem;
  height: auto;
  margin-left: calc(50% - 40rem);
  margin-right: calc(50% - 40rem);
}

@media (max-width: 80rem) {
  video {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.feature--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%;
  margin: 1rem;
}

.feature--card .material-icons {
  font-size: 3rem;
  color: #9e9e9e;
}

.feature--card-title {
  font-weight: 700;
}

.feature--grid {
  display: flex;
  flex-direction: row;
}

.feature--grid > div {
  width: 50%;
  margin: 0 0.5rem;
}

.feature--heading {
  font-size: 1.25rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem;
}

.button {
  font: inherit;
  color: #fefefe;
  background-image: linear-gradient(45deg, #fec180, #ff8993);
  padding: 0.25rem 1rem;
  border: 0;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
